.main{
    margin: auto;
    width: 20%;
    border-style: solid;
}

.izena{
    text-align: center;
}

.irudia{
    display: block;
}

.botoiak{
    margin-top: 5%;
    margin-bottom: 5%;
    margin-left: 30%;
}

button {
    width: 30%;
}